<!DOCTYPE html>
<html>
<head>
    <title>R. S. Doiel, Digital Sandbox</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
</header>
<nav>
{{ .nav }}
</nav>

<section>
{{ .content }}
</section>

<footer>
</footer>
</body>
</html>
